/* base styles */
body{
  background:#E0E0E0;

}



nav{
  position:fixed;
  top:0px;
  bottom:0;
  left:0;
  background:#607D8B;
  width:65px;
  overflow:hidden;
  transition:width 0.2s linear;
  z-index: 1;
}
nav:hover ~ * :not(BottomAppBar){
  filter: blur(10px);
}


a{
  position:relative;
  color:#1E1E1E;
  font-size:15px;
  width:300px;
  display:table;
  text-decoration: none;
}

a:hover{
  background:#9E9E9E;
}

nav:hover{
  width:260px;
  transition:all 0.5s ease;
}

.logout{
 position:absolute;
 top:89%;
}

.icon{
  position:relative;
  color : #1E1E1E;
  width:20px;
  height:20px;
  margin-top:25px;
}

.text{
 margin-top:-25px;
 margin-left:-30px;
 color:black;
 font-size: 15px;
 margin-bottom:20px;
 text-decoration:none;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-left: 450px;
  margin-top:auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 20px;
}

.card {
  position:flex;
  box-shadow: 0 14px 18px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color:#78909C;
  width: 340px;
  height:350px;
  border-radius: 5px;
  margin-bottom:20px;
}

.post:is(:hover,:focus){
  box-shadow: 0 20px 36px 0 rgba(0,0,0,0.2);
  transform:scale(1.1);
  filter:brightness(0.4);
}
.card >.type {
  position: relative;
  font-size: 1.8em;
  color: white;
  opacity: 0;
  margin-top:-130px;
  margin-bottom:110px;
}
.card:is(:hover,:focus)>.type {
  transform:scale(1.2);
  filter:brightness(0.6);
  opacity:1;
}

.container {
  padding: 2px 16px;
}

.post{
  width:90%;
  height:60%;
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
}

.post:hover {
  transform: scale(1.1); /* increase the scale on hover */
}
.profile-pic{
  width:45px;
  height:45px;
  border-radius:70px;
  margin-left:-250px;
  margin-top:10px;
}

  .Name{
    font-size:15px;
    margin-top:-40px;
    margin-left:-90px;
    margin-bottom:30px;
  }
  .barre {
    display: flex; 
    margin-top:130px;
    justify-content: space-around; 
    align-items: center; 
  }
  .button-barre{
    margin-top :-20px;
  }
  
  .barre > div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .barre img {
    width: 25px; 
    height: 25px; 
    margin-bottom: 25px; 
  }
  .barre button {
    border:none;
    background-color: transparent;
    cursor:pointer;
  }
  .barre h6 {
   margin-left:5px;
   margin-top:-25px;
  }

 .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.wrapper {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top:-0.3%;
  text-align: center;
}

#dragdrop-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 2px dashed #ccc;
  margin-bottom: 20px;
  cursor: pointer;
}

#dragdrop-icon {
  max-width: 50%;
  max-height: 50%;
}

.file-input {
  position: absolute;
  top: 200px;
  left:350px;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#submit1 {
  display: flex;
  background-color: #607D8B;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  margin-left:430px;
}

#submit1:hover {
  background-color: #9E9E9E;
  color:white;
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}
#image-preview{
  z-index: 1;
  width:10px;
  height:50px;
}
#btn-close{
  width:40px;
  height:40px;
  margin-bottom:50px;
  border:none;
  border-radius: 70px;
  cursor: pointer;
  margin-left: -500px;
}
#img-close{
  width:40px;
  height:40px;
}  

  
  
  
  