  .ListImages{
    width :900px;
  }

  .Profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:60px;
   }

  .user-profile {
    width:900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: white;		
    box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3);
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor :pointer;
  }
  
  .name {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin: 0;
  }
  
  .username {
    font-size: 20px;
    color: #666;
    margin: 0;
  }
  
  .bio {
    font-size: 16px;
    margin: 20px 0;
    color: black;

  }
  
  .stats {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
